@page
@using HT.Sports.Entities
@model HT.Sports.UI.Web.External.Pages.Trips.CreateModel

@{
    ViewBag.Title = "Create";
}

<h2>@ViewBag.Title</h2>

<h4>Trip</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Trip.DateOccurred" class="control-label"></label>
                        <input asp-for="Trip.DateOccurred" class="form-control" type="date" />
                        <span asp-validation-for="Trip.DateOccurred" class="text-danger"></span>
                    </div>
                </div>
            </div>           
            <div class="form-row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Trip.TripType" class="control-label"></label>
                        <select class="form-control" asp-for="Trip.TripType" asp-items="Html.GetEnumSelectList(typeof(TripTypes))"></select>
                        <span asp-validation-for="Trip.TripType" class="text-danger"></span>
                    </div>
                </div>
            </div>       
            <div class="form-row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Trip.TripStartLatitude" class="control-label"></label>
                        <input asp-for="Trip.TripStartLatitude" class="form-control"/>
                        <span asp-validation-for="Trip.TripStartLatitude" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Trip.TripStartLongitude" class="control-label"></label>
                        <input asp-for="Trip.TripStartLongitude" class="form-control" />
                        <span asp-validation-for="Trip.TripStartLongitude" class="text-danger"></span>
                    </div>
                </div>
            </div>                  
            <div class="form-row">
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-page="Index">Back to List</a>
</div>
