@page
@model HT.Sports.UI.Web.External.Pages.Trips.CreateModel

@{
    ViewBag.Title = "Create";
}

<h2>@ViewBag.Title</h2>

<h4>Trip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateOccurred" class="control-label"></label>
                <input asp-for="DateOccurred" class="form-control" />
                <span asp-validation-for="DateOccurred" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

