@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div class="alert alert-primary" role="alert">
        <p>Use this space to summarize your privacy and cookie use policy.</p>
        <div>
            <a asp-page="/Privacy" class="btn btn-info"><i class="fas fa-info-circle"></i> Learn More</a>
            <button type="button" class="btn btn-success" data-cookie-string="@cookieString"><i class="fas fa-check"></i> Accept</button>
        </div>
    </div>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("hidden");
            }, false);
        })();
    </script>
}